# ===== Minimal working SLURM config =====
ClusterName=aws-hpc
ControlMachine=login

AuthType=auth/munge
SlurmUser=slurm

StateSaveLocation=/var/spool/slurmctld
SlurmdSpoolDir=/var/spool/slurmd

SlurmctldPort=6817
SlurmdPort=6818

SlurmctldTimeout=300
SlurmdTimeout=300

ProctrackType=proctrack/cgroup
ReturnToService=2

# Log locations
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdLogFile=/var/log/slurm/slurmd.log

# === Nodes ===
NodeName=compute

# === Partition ===
PartitionName=debug Nodes=ALL Default=YES MaxTime=INFINITE State=UP
PartitionName=large Nodes=ALL Default=YES MaxTime=INFINITE State=UP
PartitionName=short Nodes=ALL Default=YES MaxTime=INFINITE State=UP
PartitionName=interactive Nodes=ALL Default=YES MaxTime=INFINITE State=UP